fastapi
uvicorn
#gunicorn[standard]
python-dateutil
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-texttospeech
googleapis-common-protos
websockets==15.0.1   #pip install --upgrade websockets
soundcard==0.4.5
numpy==1.21.5